<loader *ngIf="loading"></loader>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>CPU</th>
      <th>Power Supply</th>
      <th>Memory</th>
      <th>HDD Size</th>
      <th>Grapbics Card</th>
      <th>Weight</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let computer of computers">
      <td>{{computer.id}}</td>
      <td>{{computer.cpu}}</td>
      <td>{{computer.powerSupply}}</td>
      <td>{{computer.memory}}</td>
      <td>{{computer.hddSize}}</td>
      <td>{{computer.graphicsCard}}</td>
      <td>{{computer.weight}}&nbsp;{{computer.weightUnit}}</td>
      <td>
        <a routerLink="/edit/{{computer.id}}">Edit</a> |
        <a (click)="deleteRecord(computer)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
