.loader {
  font-weight:bold;
  text-align:center;
  vertical-align:middle;
  border:1px solid black;
  background-color:white;
  position:absolute;
  left:45%;
  top:45%;
  padding:20px;
  z-index:9000;
}
img {
  height: 100px;
}
